"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Alexey Orlenko"
email = "alex@aqrln.net"

[git]
subprocess = true

[signing]
behavior = "own"
backend = "gpg"

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c",
    "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c",
    "JJDiffConflicts!",
    "$output",
    "$base",
    "$left",
    "$right",
]
merge-tool-edits-conflict-markers = true

[merge-tools.diff-editor]
program = "nvim"
merge-args = ["-c", "DiffEditor $left $right $output"]

[templates]
git_push_bookmark = '"aqrln-" ++ change_id.short()'

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

# [ui]
# diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
