.cache

/auto-save-list
/eln-cache
/elpa
/multisession
/transient
/savefile

/projects
projectile-bookmarks.eld

/games
/url
/tramp

/persist
/mastodon.plstore

.lsp-session-*

.emacs.desktop
.emacs.desktop.lock
