# Symlinks added by OrbStack
/completions/docker.fish
/completions/kubectl.fish
/completions/orbctl.fish

# Generated
/completions/op.fish

# Local symlink to `./x.py` completions for Rust
/completions/rust-x.fish

/fish_variables
